# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x, 15.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
#     - uses: actions/checkout@v2
#     - name: Use Node.js ${{ matrix.node-version }}
#       uses: actions/setup-node@v2
#       with:
#         node-version: ${{ matrix.node-version }}
#     - run: npm ci
#     - run: npm run build --if-present
#     - run: npm test
    
    - name: ACCELQ Github-A Connect
      # You may pin to the exact commit or the version.
      # uses: accelq/accelq-ci-github-actions@276626dc384b381145d2c38db2502a86afa34cf5
      uses: accelq/accelq-ci-github-actions@v0.2
      with:
        # Your ACCELQ Application URL in the exact following format: https://&lt;hostname&gt;:&lt;port_num&gt;
        appURL: "tenantadmin@democopy.com"
        # Your ACCELQ User ID
        userName: "tenantadmin" 
        # API key available in Profile section of ACCELQ
        apiKey: "8dshi7d2h1aZ7QPTO8JCr825YV4XJLm9"
        # Tenant Code displayed in the Profile section of ACCELQ
        tenantCode: "democopy"
        # This ID should come from the CI job you saved in ACCELQ application
        jobId: "91"
        # Run Params(optional) should be of the form (Customer Name=John Todd & Customer Id=232)
#         runParam: # optional
#         # Proxy Host (optional)
#         proxyHost: # optional
#         # Proxy Port (optional)
#         proxyPort: # optional
